.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  grid-template-rows: auto;
  padding: 92px 24px;
}

.header-menu {
  display: grid;
  place-content: center end;
}

.header-menu-list {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding-right: 16px;
}

.header-menu-item {
  list-style: circle;
}

.header-menu-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: underline;
  text-underline-offset: 4px;
  padding-right: 20px;
}

.menu-item_no-mark {
  list-style: none;
}

.menu-main {
  text-decoration: none;
}

.header-logo {
  width: 148px;
  height: 105px;
}

.header-logo-image {
  width: 148;
  height: 100%;
}

.address {
  font-family: 'Raleway',sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.header-address {
  place-self: start;
  padding-left: 184px;
  padding-top: 5px;
  padding-right: 25px;
}

.address-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 1100px;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover-title {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
  align-self: end;
  text-transform: uppercase;
  padding-top: 165px;
  padding-bottom: 135px;
  position: relative;
  z-index: 2;
}

.accent-span {
  display: block;
}

.text-left {
  padding-left: 50px;
  padding-bottom: 20px;
}

.text-center {
  text-align: center;
  line-height: 1;
}

.text-right {
  text-align: right;
  line-height: 1;
  padding-right: 50px;
  padding-top: 20px;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing-extended {
  letter-spacing: 0;
}

.text-content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  color: white;
  line-height: 28px;
  text-transform: uppercase;
  padding: 0px 50px 51px 78px;
}

.text-content-bottom {
  font-size: 22px;
  line-height: 28px;
  padding-bottom: 10px;
  color: white;
  word-spacing: 18.5px;
  z-index: 2;
}

.button {
  width: 256px;
  height: 51px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  z-index: 2;
}

.lots {
  padding-top: 180px;
  padding-bottom: 146px;
}

.lots-title {
  padding-left: 64px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
}

.lots-list {
  display: flex;
  gap: 25px;
  padding-left: 24px;
  padding-bottom: 30px;
  flex-wrap: wrap;
  padding-top: 27px;
}

.lots-list-card {
  list-style: none;
  color: white;
}

.card {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 334px;
  min-height: 563px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-art {
  background-image: url(../images/card-lot-03.jpg);
}

.card-title {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  list-style: none;
  text-decoration: underline;
  z-index: 2;
}

.card-text {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  z-index: 2;
}

.more {
  padding-left: 64px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.about {
  padding-left: 24px;
  display: flex;
  justify-content: space-evenly;
}

.about-logo {
  padding-top: 35px;
  width: 240px;
  align-self: flex-start;
}

.about-info {
  width: 693px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 100px;
  padding-top: 133px;
  padding-left: 24px;
}

.about-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
}

.about-text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  letter-spacing: 4%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 180px 50px 88px;
}

.footer-menu-item {
  list-style-type: none;
  text-align: center;
}

.footer-menu-list {
  padding-left: 30px;
}

.footer-menu-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-underline-offset: 4px;
}

.image {
  width: 48px;
  height: 48px;
}

.images {
  display: flex;
  gap: 48px;
}
